.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container_logo {
  background: #49708a;
  padding: 0px 40px;
  height: 80px;
}

.logo {
  color: #ebf7f8;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 15px;
    font-weight: 600;
  }
}

.more {
  color: #caff42;
  font-size: 38px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .more {
    font-size: 29px;
    font-weight: 600;
  }
}

.divider {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #fff;
  margin: 0 10px;
}

.text {
  padding: 0 10px;
  white-space: nowrap;
}

.container_login {
  background: #49708a;
  height: calc(100vh - 79px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #caff42;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #d0e0eb;
  color: #49708a;
  border: none;
  padding: 10px 20px;
  margin: 30px auto 80px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 10px 10px;
    font-size: 15px;
    margin: 20px auto 40px;
  }
}
@media screen and (max-width: 468px) {
  .button {
    width: 85%;
    padding: 10px 6px;
    font-size: 12px;
    margin: 10px auto 20px;
    margin-bottom: 50px;
  }
}

.button:hover {
  background-color: #caff42;
  color: #d0e0eb;
}

.span {
  margin-bottom: 10px;
  color: #caff42;
}

.button_submit {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #2d3237;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .button_submit {
    font-size: 15px;
    font-weight: 600;
  }
}

.button_submit:hover {
  background-color: #caff42;
  color: #2d3237;
}
