.container {
  background: #49708a;
  width: 100%;
  height: 70px;
  display: flex;
}

.section {
  display: flex;
  background: #49708a;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 80%;
  height: 70px;
  margin: 0 auto;
}

.logo {
  color: #ebf7f8;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.more {
  color: #caff42;
  font-size: 38px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.button {
  background: #caff42;
  color: #49708a;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
}

.button:hover {
  border: 1px solid #ebf7f8;
  background: none;
  color: #caff42;
}
