.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: 100%;
  max-width: 1280px;
}
.contentForm {
  width: 85%;
  max-width: 1280px;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.contentForm h1 {
  margin: 0;
  font-size: 32px;
  color: rgb(0, 0, 0);
}

.form {
  margin: 10px;
  display: flex;
}

.checkboxArea {
  display: flex;
  align-items: center;
  align-self: start;
  margin-bottom: 13px;
}
.checkboxArea input {
  width: 20px;
  height: 20px;
  margin-right: 13px;
}

.checkboxArea label {
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #308af7;
  color: rgb(255, 254, 254);
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.8s;
  font-weight: 600;
}

.button:hover {
  background-color: #424240;
  color: white;
}

.taskContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

.taskContainer a {
  text-decoration: none;
  color: "#0f0f0f";
}

.taskContainer h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 35px;
  margin-top: -25px;
}

.task {
  width: 76%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  line-height: 150%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 30px auto;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}
.tag {
  background-color: #308af7;
  padding: 2px 6px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 0;
}

.shareButton {
  background-color: transparent;
  border: 0;
  margin: 0 8px;
  cursor: pointer;
}

.taskContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.taskContent p {
  white-space: pre-wrap;
  font-size: 16px;
}
.trashButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0 8px;
}

.link_task {
  color: #424240;
  text-decoration: none;
  font-size: 16px;
}
