.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.divider {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #fff;
  margin: 0 10px;
}

.text {
  padding: 0 10px;
  white-space: nowrap;
}

.container_login {
  background: #000000;
  height: calc(100vh - 79px);
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.field {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.link_register {
  color: #cbcbcb;
  text-decoration: none;
  margin-bottom: 20px;
}
.link_register:hover {
  color: #ffffff;
  text-decoration: underline;
}

.button {
  background-color: #424240;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 20px auto 40px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.button_google {
  background-color: #424240;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 30px auto 80px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 10px 10px;
    font-size: 15px;
    margin: 20px auto 40px;
  }
}
@media screen and (max-width: 468px) {
  .button {
    width: 85%;
    padding: 10px 6px;
    font-size: 12px;
    margin: 10px auto 20px;
    margin-bottom: 50px;
  }
}

.button:hover {
  background-color: #caff42;
  color: #d0e0eb;
}

.button_google:hover {
  background-color: #caff42;
  color: #2d3237;
}

.span {
  margin-bottom: 10px;
  color: #caff42;
}

.button_submit {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #2d3237;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .button_submit {
    font-size: 15px;
    font-weight: 600;
  }
}

.button_submit:hover {
  background-color: #caff42;
  color: #2d3237;
}

.container_line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #fff;
  margin: 0 10px;
  width: 100%;
  border: 0.4px solid #fff;
}

.line_or {
  margin: 0 10px;
  color: #fff;
}
